<h2>Tablor Core - Simple UI</h2>

<h3>
   You can create beautiful datatables, grid views, and more using
   <b>Tablor-Core</b>
</h3>
Features are already implemented, You just need your UI to work with them.

<hr>

Major Features:
<ul>
   <li>Sorting</li>
   <li>Custom Sorting Toggle Orders</li>
   <li>
      Multi-Fields Sorting
      <ul>
         <li>Example: Sorting Transactions By Bank Names, then Nested Sort By Transaction Date</li>
      </ul>
   </li>
</ul>

<ul>
   <li>Search</li>
   <li>Search Within Previous Search Results</li>
   <li>Search and merge results into previous search results</li>
   <li>Different Search Criteria for Different Fields</li>
</ul>

<ul>
   <li>
      Search By String Query
      <ul>
         <li>Include Specific Fields</li>
         <li>Custom Fns for Converting Numbers, Dates, Booleans, Nulls, and Undefineds to Strings for Searching)</li>
         <li>Search Words Using StartsWith, EndsWith, Contains, and ExactMatch Criteria</li>
         <li>Search Words in Order</li>
         <li>Search Words in Any Order</li>
         <li>Search Consecutive Words</li>
         <li>Search Non-Consecutive Words</li>
      </ul>
   </li>
   <li>Search By Date Ranges (Multiple Ranges for Multiple Fields)</li>
   <li>Search By Number Ranges (Multiple Ranges for Multiple Fields)</li>
   <li>Search By Exact Values (Multiple Exact Values for Multiple Fields)</li>
   <li>Search By Custom Search Fn</li>
   <li>Reverting Search Results (replace searched items with those that were not searched)</li>
</ul>

<ul>
   <li>Pagination</li>
   <li>Go To Page</li>
   <li>Set Number of Items Per Page</li>
   <li>All Items in Single Page</li>
</ul>

<ul>
   <li>Select Items</li>
   <li>Get Selected Items</li>
   <li>Get Selected Items that are in the Page</li>
   <li>Get Selected Items that are not in the Page</li>
</ul>

<ul>
   <li>
      Completely Event Based
      <ul>
         <li>
            Example: Events for Page Change, Sorting Change, Search Change, Item Selection Change, Deletion and more.
         </li>
      </ul>
   </li>
</ul>
