String Query:
<input type="text" [(ngModel)]="form.query">

<hr>
Include Fields:
<details>
   <summary>Include Fields</summary>
   <button (click)="toggleAllIncludeFields()">Toggle All</button>
   <div>
      @for (field of tablor.getFieldsAsArray(); track field.key) {
         <div>
            {{ field.title }}
            <input
               type="checkbox" [ngModel]="form.includeFields?.includes(field.key)"
               (ngModelChange)="toggleIncludeField(field.key)"
            >
         </div>
      }
   </div>
</details>

<hr>
Word Match Criteria:
<select [(ngModel)]="form.singleWordMatchCriteria">
   <option value="StartsWith">Starts With</option>
   <option value="EndsWith">Ends With</option>
   <option value="Contains">Contains</option>
   <option value="ExactMatch">ExactMatch</option>
</select>

<hr>
Must required all words:
<input type="checkbox" [(ngModel)]="form.requireAllWords">

<hr>
Consecutive Words:
<input type="checkbox" [(ngModel)]="form.consecutiveWords">
<div class="hint">
   // If checked, it will enforce the searcher to search all words in a single field
</div>

<hr>
Words In Order:
<input type="checkbox" [(ngModel)]="form.wordsInOrder">
<div class="hint">
   // If checked, it will enforce the searcher to search all words in a single field
</div>

<hr>
Case Sensitive:
<input type="checkbox" [(ngModel)]="form.isCaseSensitive">

<hr>
Convert to String:
<details>
   <summary>Convert to String</summary>

   Use Strings?
   <input
      type="checkbox" [ngModel]="form.convertToString?.string"
      (ngModelChange)="setConvertToString('string', $event)"
   >
   <span class="hint">
      // e.g. "Zeeshan" to "Zeeshan"
   </span>
   <br>

   Convert Numbers?
   <input
      type="checkbox" [ngModel]="form.convertToString?.number"
      (ngModelChange)="setConvertToString('number', $event)"
   >
   <span class="hint">
      // e.g. 500.5 to "500.5"
   </span>
   <br>
   Convert Dates?
   <input
      type="checkbox" [ngModel]="form.convertToString?.date"
      (ngModelChange)="setConvertToString('date', $event)"
   >
   <span class="hint">
      // e.g. Date(Thu Jan 11 2024 05:00:00 GM...) to "11th January 2024""
   </span>
   <br>
   Convert Booleans?
   <input
      type="checkbox" [ngModel]="form.convertToString?.boolean"
      (ngModelChange)="setConvertToString('boolean', $event)"
   >
   <span class="hint">
      // e.g. true to "true"
   </span>
   <br>
   Convert Nulls?
   <input
      type="checkbox" [ngModel]="form.convertToString?.null"
      (ngModelChange)="setConvertToString('null', $event)"
   >
   <span class="hint">
      // e.g. null to "Null"
   </span>
   <br>
   Convert Undefineds?
   <input
      type="checkbox" [ngModel]="form.convertToString?.undefined"
      (ngModelChange)="setConvertToString('undefined', $event)"
   >
   <span class="hint">
      // e.g. undefined to "Undefined"
   </span>
</details>

<!--                                     -->
<!-- Common Options For All Search Types -->
<!--                                     -->

<hr>
@if (form.prevResults) {
   Prev Search Behavior:
   <select
      [(ngModel)]="form.prevResults.action"
   >
      <option value="Keep">Keep All Prev Searches</option>
      <option value="Clear">Clear Prev Searches</option>
   </select>
   <div class="hint">
      // Remaining Searches' Results will be Merged into New Search
   </div>

   @if (form.prevResults.action === 'Clear') {
      <hr>
      Prev Search Scope to Clear:
      <select
         [(ngModel)]="form.prevResults.scope"
      >
         <option value="All">Clear All</option>
         <option value="Single">Clear Single</option>
      </select>

      @if (form.prevResults.scope === 'Single') {
         <hr>
         Prev Search Target to Clear:
         <select
            [ngModel]="form.prevResults.target"
            (ngModelChange)="form.prevResults.target = ($event == '-1' ? -1 : $event)"
         >
            <option value="Last">Last</option>
            <option value="LastIfSameType">Last if Same Type Search</option>
            <option
               [value]="getDummyNumber(form.prevResults.target)"
            >{{ getDummyNumber(form.prevResults.target, true) }}
            </option>
         </select>

         @if (typeof (form.prevResults.target) === 'number') {
            <hr>
            Index:
            <input
               type="number" [ngModel]="form.prevResults.target"
               (ngModelChange)="form.prevResults ? form.prevResults.target = $event : null"
            >
         }
      }
   }
}

<hr>
<select
   [ngModel]="form.searchTarget?.scope"
   (ngModelChange)="form.searchTarget ? form.searchTarget.scope = $event : null"
>
   <option disabled selected value="">Select Target Items</option>
   <option value="Prev">Search Within Previous Search Results</option>
   <option value="All">Search in All Items (e.g. for merge results into prev search results)</option>
</select>

<hr>
Revert Search Results at End:
<input type="checkbox" [(ngModel)]="form.revertResultsAtEnd">
<div class="hint">
   // If checked, all the searched items will be replaced by those that were not searched.
</div>

<hr>
<button class="submit" (click)="search()">Search</button>
