Select Date Range Field
<select #dateRangeField>
   <option value="createdAt">Created At</option>
   <option value="updatedAt">Updated At</option>
   <option value="transactionDate">Transaction Date</option>
</select>

<button (click)="addDateRange(dateRangeField.value)">Add</button>

<hr>

<table>
   <tr>
      <th>Field</th>
      <th>Date Range(s)</th>
   </tr>

   @for (field of getFields(form.ranges); track field) {
      <tr>
         <td>{{ field }}</td>
         <td>
            <table>
               <tr>
                  <th>Start</th>
                  <th>End</th>
               </tr>
               @for (range of form.ranges[field]; track range; let i = $index) {
                  <tr>
                     <td>
                        <select [(ngModel)]="range.start">
                           <option value="Now">Now</option>
                           <option value="undefined">Undefined</option>
                           <option
                              [value]="getDummyDate(range.start)"
                           >
                              {{
                                 getDummyDate(range.start, !isDateObj(range.start)).slice(0, 10) + '...'
                              }}
                           </option>
                        </select>

                        <hr>
                        @if (isDateObj(range.start)) {
                           <input [(ngModel)]="range.start" type="datetime-local">
                        }

                        @if (range.start !== 'undefined' && range.start !== undefined) {
                           <details>
                              <summary>End Offset (-1 also allowed)</summary>
                              Year(s):
                              <input
                                 type="number"
                                 [ngModel]="range.startOffset?.years"
                                 (ngModelChange)="range.startOffset ? range.startOffset.years = $event : null"
                              >
                              <hr>
                              Month(s):
                              <input
                                 type="number" [ngModel]="range.startOffset?.months"
                                 (ngModelChange)="range.startOffset ? range.startOffset.months = $event : null"
                              >
                              <hr>
                              Day(s):
                              <input
                                 type="number" [ngModel]="range.startOffset?.days"
                                 (ngModelChange)="range.startOffset ? range.startOffset.days = $event : null"
                              >
                              <hr>
                              Hour(s):
                              <input
                                 type="number" [ngModel]="range.startOffset?.hours"
                                 (ngModelChange)="range.startOffset ? range.startOffset.hours = $event : null"
                              >
                              <hr>
                              Minute(s):
                              <input
                                 type="number" [ngModel]="range.startOffset?.minutes"
                                 (ngModelChange)="range.startOffset ? range.startOffset.minutes = $event : null"
                              >
                              <hr>
                              Millisecond(s):
                              <input
                                 type="number" [ngModel]="range.startOffset?.milliseconds"
                                 (ngModelChange)="range.startOffset ? range.startOffset.milliseconds = $event : null"
                              >
                           </details>
                        }
                     </td>
                     <td>
                        <select [(ngModel)]="range.end">
                           <option value="Now">Now</option>
                           <option value="undefined">Undefined</option>
                           <option
                              [value]="getDummyDate(range.end)"
                           >
                              {{ getDummyDate(range.end).slice(0, 10) + '...' }}
                           </option>
                        </select>

                        <hr>
                        @if (isDateObj(range.end)) {
                           <input [(ngModel)]="range.end" type="datetime-local">
                        }

                        @if (range.end !== 'undefined' && range.end !== undefined) {
                           <details>
                              <summary>End Offset (-1 also allowed)</summary>
                              Year(s):
                              <input
                                 type="number"
                                 [ngModel]="range.endOffset?.years"
                                 (ngModelChange)="range.endOffset ? range.endOffset.years = $event : null"
                              >
                              <hr>
                              Month(s):
                              <input
                                 type="number" [ngModel]="range.endOffset?.months"
                                 (ngModelChange)="range.endOffset ? range.endOffset.months = $event : null"
                              >
                              <hr>
                              Day(s):
                              <input
                                 type="number" [ngModel]="range.endOffset?.days"
                                 (ngModelChange)="range.endOffset ? range.endOffset.days = $event : null"
                              >
                              <hr>
                              Hour(s):
                              <input
                                 type="number" [ngModel]="range.endOffset?.hours"
                                 (ngModelChange)="range.endOffset ? range.endOffset.hours = $event : null"
                              >
                              <hr>
                              Minute(s):
                              <input
                                 type="number" [ngModel]="range.endOffset?.minutes"
                                 (ngModelChange)="range.endOffset ? range.endOffset.minutes = $event : null"
                              >
                              <hr>
                              Millisecond(s):
                              <input
                                 type="number" [ngModel]="range.endOffset?.milliseconds"
                                 (ngModelChange)="range.endOffset ? range.endOffset.milliseconds = $event : null"
                              >
                           </details>
                        }
                     </td>
                     <td>
                        <button (click)="deleteDateRange(field, i)">Delete Range</button>
                     </td>
                  </tr>
               }
            </table>
         </td>
      </tr>
   }
</table>

<hr>
Must match all fields' requirements:
<input type="checkbox" [(ngModel)]="form.mustMatchAllFields">

<hr>
@if (form.prevResults) {
   Prev Search Behavior:
   <select
      [(ngModel)]="form.prevResults.action"
   >
      <option value="Keep">Keep All Prev Searches</option>
      <option value="Clear">Clear Prev Searches</option>
   </select>
   <div class="hint">
      // Remaining Searches' Results will be Merged into New Search
   </div>

   @if (form.prevResults.action === 'Clear') {
      <hr>
      Prev Search Scope to Clear:
      <select
         [(ngModel)]="form.prevResults.scope"
      >
         <option value="All">Clear All</option>
         <option value="Single">Clear Single</option>
      </select>

      @if (form.prevResults.scope === 'Single') {
         <hr>
         Prev Search Target to Clear:
         <select
            [ngModel]="form.prevResults.target"
            (ngModelChange)="form.prevResults.target = ($event == '-1' ? -1 : $event)"
         >
            <option value="Last">Last</option>
            <option value="LastIfSameType">Last if Same Type Search</option>
            <option
               [value]="getDummyNumber(form.prevResults.target)"
            >{{ getDummyNumber(form.prevResults.target, true) }}
            </option>
         </select>

         @if (typeof (form.prevResults.target) === 'number') {
            <hr>
            Index:
            <input
               type="number" [ngModel]="form.prevResults.target"
               (ngModelChange)="form.prevResults ? form.prevResults.target = $event : null"
            >
         }
      }
   }
}

<hr>
<select
   [ngModel]="form.searchTarget?.scope"
   (ngModelChange)="form.searchTarget ? form.searchTarget.scope = $event : null"
>
   <option disabled selected value="">Select Target Items</option>
   <option value="Prev">Search Within Previous Search Results</option>
   <option value="All">Search in All Items (e.g. for merge results into prev search results)</option>
</select>

<hr>
Revert Search Results at End:
<input type="checkbox" [(ngModel)]="form.revertResultsAtEnd">
<div class="hint">
   // If checked, all the searched items will be replaced by those that were not searched.
</div>

<hr>
<button class="submit" (click)="search()">Search</button>
