<div class="p-10">

   <!-- Notice board -->
   <app-notice-board></app-notice-board>
   <!-- Notice board -->

   <div class="top-sticky-cards">
      <div class="card card-col mt-5">

         <!-- Searching Options -->
         <app-searching [tablor]="tablor"></app-searching>
         <!-- Searching Options -->

         <!-- Pagination Options -->
         <app-pagination [tablor]="tablor"></app-pagination>
         <!-- Pagination Options -->

         <!-- Items Selection Options -->
         @if (tablor.getNbOfSelectedItems() > 0) {
            <app-selected-item-actions [tablor]="tablor"></app-selected-item-actions>
         }
         <!-- Items Selection Options -->

      </div>
   </div>

   <!-- Sorting Options -->
   <app-sorting [tablor]="tablor"></app-sorting>
   <!-- Sorting Options -->

   <div class="cards-container">
      @for (item of tablor.getPaginatedItems(); track item.tablorMeta.uuid) {
         <!-- Item -->
         <app-item [tablor]="tablor" [item]="item" class="contents"></app-item>
         <!-- Item -->
      }
   </div>
</div>

<!-- Sonner Toaster -->
<hlm-toaster [toastOptions]="{ duration: 1500 }"/>
<!-- Sonner Toaster -->
