<app-search [tablor]="tablor"></app-search>

<br>
<button (click)="tablor.clearSorting()">
   Clear All Sorting
</button>

<div class="hint">
   <span class="hint-title">Nested Sorting Feature Hint:</span>
   Click on 'User' field and then click on 'Bank' field
   <br>
   Items will be first sorted by 'User' field and then nested by 'Bank' field.
</div>

<table>
   <thead>
      <tr>
         @for (field of tablor.getFieldsAsArray(); track field.key) {
            <th>
               @if (tablor.isFieldSorted(field.key)) {
                  {{ tablor.getSortingOrder(field.key) }}
               }
            </th>
         }
      </tr>
      <tr>
         @for (field of tablor.getFieldsAsArray(); track field.key) {
            <th
               (click)="
                  tablor.sort({ field: field.key, order: 'Toggle', supportedToggleOrders: ['ASC',  'DESC', 'NONE'] })
               "
            >
               {{ field.title }}
            </th>
         }
      </tr>
   </thead>

   <tbody>
      @for (item of tablor.getPaginatedItems(); track item) {
         <tr>
            @for (field of tablor.getFieldsAsArray(); track field.key) {
               <td>
                  <div>{{ item[field.key] }}</div>
               </td>
            }
         </tr>
      }
   </tbody>
</table>
