<div class="pagination">
   <div class="selected-items-info">
      {{ tablor.getNbOfSelectedItems() }}
      of {{ tablor.getNbOfItems() / 1000 }}k
      transaction(s) selected
   </div>

   <div class="paging-actions">
      <brn-select
         (ngModelChange)="tablor.setNbOfItemsPerPage($event)"
         [ngModel]="tablor.getNbOfItemsPerPage()"
         class="inline-block"
      >
         <hlm-select-trigger class="w-20">
            <hlm-select-value/>
         </hlm-select-trigger>
         <hlm-select-content>
            <hlm-option [value]="10">10</hlm-option>
            <hlm-option [value]="20">20</hlm-option>
            <hlm-option [value]="100">100</hlm-option>
            <hlm-option [value]="-1">All</hlm-option>
         </hlm-select-content>
      </brn-select>
      <button
         (click)="tablor.setPageNb(tablor.getPageNb() - 1)"
         [disabled]="tablor.getPageNb() === 1"
         hlmBtn
      >
         Previous
      </button>
      <div class="page-info">
         Page {{ tablor.getPageNb() }}
         of {{ tablor.getNbOfPages() }}
      </div>
      <button
         (click)="tablor.setPageNb(tablor.getPageNb() + 1)"
         [disabled]="tablor.getPageNb() === tablor.getNbOfPages()"
         hlmBtn
      >
         Next
      </button>

      <!-- First & Last Buttons Dropdown -->
      <button [brnMenuTriggerFor]="menu">
         <ng-icon hlm hlmMenuIcon name="lucideChevronDown" class=""/>
      </button>

      <ng-template #menu>
         <hlm-menu>
            <button
               (click)="tablor.setPageNb(1)"
               [disabled]="tablor.getPageNb() === 1"
               hlmMenuItem
            >
               First page
            </button>

            <button
               (click)="tablor.setPageNb(tablor.getNbOfPages())"
               [disabled]="tablor.getPageNb() === tablor.getNbOfPages()"
               hlmMenuItem
            >
               Last page
            </button>
         </hlm-menu>
      </ng-template>
      <!-- First & Last Buttons Dropdown -->

   </div>
</div>
