<div class="controls">

   <!-- Selected Items Info -->
   <div class="controls-dim-info">
      {{ tablor.getNbOfSelectedItems() }} of {{ tablor.getNbOfItems() / 1000 }}k transaction(s) selected
   </div>
   <!-- Selected Items Info -->

   <!-- Pagination Actions -->
   <div class="controls-actions">

      <!-- Nb of Items per Page Options Select -->
      <brn-select
         (ngModelChange)="tablor.setNbOfItemsPerPage($event)"
         [ngModel]="tablor.getNbOfItemsPerPage()"
         class="inline-block"
      >
         <hlm-select-trigger class="w-20">
            <hlm-select-value/>
         </hlm-select-trigger>

         <hlm-select-content>
            <hlm-option [value]="10">10</hlm-option>
            <hlm-option [value]="20">20</hlm-option>
            <hlm-option [value]="100">100</hlm-option>
            <hlm-option [value]="-1">All</hlm-option>
         </hlm-select-content>
      </brn-select>
      <!-- Nb of Items per Page Options Select -->

      <!-- Previous Page Button -->
      <button
         (click)="tablor.setPageNb(tablor.getPageNb() - 1)"
         [disabled]="tablor.getPageNb() === 1"
         hlmBtn
      >
         Previous
      </button>
      <!-- Previous Page Button -->

      <!-- Current Page Nb of Total Pages Info -->
      <div class="controls-dim-info">
         Page {{ tablor.getPageNb() }} of {{ tablor.getNbOfPages() }}
      </div>
      <!-- Current Page Nb of Total Pages Info -->

      <!-- Next Page Button -->
      <button
         (click)="tablor.setPageNb(tablor.getPageNb() + 1)"
         [disabled]="tablor.getPageNb() === tablor.getNbOfPages()"
         hlmBtn
      >
         Next
      </button>
      <!-- Next Page Button -->

      <!-- First and Last Page Buttons Dropdown -->
      <div>
         <!-- Dropdown Trigger Button -->
         <button [brnMenuTriggerFor]="firstLastPageButtonsDropdownTemplate">
            <ng-icon hlmMenuIcon name="lucideChevronDown" class=""/>
         </button>
         <!-- Dropdown Trigger Button -->

         <!-- Dropdown Template -->
         <ng-template #firstLastPageButtonsDropdownTemplate>
            <hlm-menu>
               <button
                  (click)="tablor.setPageNb(1)"
                  [disabled]="tablor.getPageNb() === 1"
                  hlmMenuItem
               >
                  First page
               </button>
               <button
                  (click)="tablor.setPageNb(tablor.getNbOfPages())"
                  [disabled]="tablor.getPageNb() === tablor.getNbOfPages()"
                  hlmMenuItem
               >
                  Last page
               </button>
            </hlm-menu>
         </ng-template>
         <!-- Dropdown Template -->
      </div>
      <!-- First and Last Page Buttons Dropdown -->

   </div>
   <!-- Pagination Actions -->

</div>
