<div class="text-sm text-orange-400 px-10">
   <span class="font-bold">NOTE:</span>
   This demonstration illustrates the functionality of TablorCore. The primary focus should be on the user interface
   rather than the underlying logic. All logic operations are managed by TablorCore.
   <br>
   For example;
   <code>tablor.setPageNb(tablor.getPageNb() + 1)</code>
   or
   <code>tablor.select(item, true)</code>
   or
   <code>tablor.searchByStringQuery(options)</code>
   or
   <code>tablor.sort(options)</code>
</div>
