* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   user-select: none;
}

body {
   padding: 0.8rem 0.8rem 4rem;
}

hr {
   margin-block: 0.25rem;
   border: none;
   border-top: 1px solid #d3d3d3;
}

input, select, button {
   margin: 2px;
}

table tr:nth-child(even) {
   background: rgba(94, 94, 94, 0.4);
}

table tr:nth-child(odd) {
   background: rgba(94, 94, 94, 0.11);
}

.hint {
   color: #7a7a7a;
   font-size: 0.8rem;
}

button.submit {
   background-color: #e00000;
   color: white;
   border: none;
   border-radius: 0.3rem;
   padding: 0.4rem;
   cursor: pointer;
   margin-block: 0.6rem;
}

summary, select, button {
   cursor: pointer;
}

//
// App Root
//

app-root > div {
   &:has(> table) {
      max-width: 100%;
      height: 30rem;
      overflow-x: auto;
      overflow-y: auto;
      padding: 0.4rem;
      border-radius: 0.3rem;
      background-color: #f1f1f1;
      box-shadow: 0 1px 10px rgb(66, 66, 66);
      resize: vertical;
   }

   > table {
      thead {
         position: sticky;
         top: 0;
         background-color: #b7b7b7 !important;
      }

      td div {
         font-size: 0.8rem;
         margin-block: 0.6rem;
         margin-inline: 0.1rem;
         user-select: text;
         padding-inline: 0.4rem;
      }

      td:nth-child(2) div {
         width: 1rem;
      }

      td:nth-child(3) div {
         width: 4rem;
      }

      td:nth-child(4) div {
         width: 3.5rem;
      }

      td:nth-child(5) div {
         width: 9rem;
      }

      td:nth-child(6) div,
      td:nth-child(7) div,
      td:nth-child(8) div {
         width: 9rem;
      }

      td:nth-child(9) div,
      td:nth-child(10) div,
      td:nth-child(11) div,
      td:nth-child(12) div,
      td:nth-child(13) div,
      td:nth-child(15) div,
      td:nth-child(16) div {
         width: 3.5rem;
         word-break: break-word;
      }
   }
}

//
// Search Components
//

app-search-by-string-query,
app-search-by-date-ranges,
app-search-by-number-ranges,
app-search-by-exact-values,
app-search-by-custom-fn,
app-search-by-void,
app-searched-options,
app-sort,
app-sorted-options,
app-selected-items,
app-select,
app-pagination {
   display: block;
   padding: 0.8rem;
   border-radius: 0.3rem;
   background-color: #f1f1f1;
   box-shadow: 0 1px 10px rgb(66, 66, 66);
   margin-block: 0.5rem;
}

//
// Search By Date Range
//

app-search-by-date-ranges details {
   font-size: 0.8rem;
   width: 100%;
}

app-search-by-date-ranges details input[type="number"] {
   width: 3.5rem;
}

app-search-by-date-ranges table {
   border: 2px solid rgba(201, 0, 0, 0.51);
}

//
// Search By String Query
//

app-search-by-string-query > details {
   font-size: 0.8rem;
   width: 100%;
   box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
   padding: 0.5rem;
   border-radius: 0.3rem;
}

app-search-by-string-query > details > button {
   font-size: 0.7rem;
}

app-search-by-string-query > details > div {
   width: fit-content;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

//
// Searched & Sorted Options
//

app-sorted-options details,
app-searched-options details {
   box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
   padding: 0.5rem;
   border-radius: 0.3rem;
}

//
// Selected Items
//

app-selected-items details span {
   padding-inline: 0.4rem;
}

//
// Features Board
//

app-features-board {
   display: block;
   padding: 0.8rem;
   border-radius: 0.3rem;
   background-color: #f1f1f1;
   box-shadow: 0 1px 10px rgb(66, 66, 66);
   margin-block: 0.5rem 1rem;

   ul {
      margin-bottom: 0.5rem;

      li {
         margin-left: 1rem;
      }
   }
}
