<button
   (click)="tablor.clearSearch()"
>
   Clear All Searches
</button>

<br>

<select [(ngModel)]="currSearchType">
   <option disabled selected value="">Select Search Type</option>
   <option value="stringSearch">String(s) Search</option>
   <option value="dateRanges">Date Range(s) Search</option>
   <option value="exactValues">Exact Value(s) Search</option>
   <option value="numberRanges">Number Range(s) Search</option>
   <option value="voidSearch">Void Search</option>
   <option disabled value="customSearch">Custom Search (Requires Item Evaluator Fn)</option>
</select>

<br>

<select [(ngModel)]="targetItems">
   <option disabled selected value="">Select Target Items</option>
   <option value="Prev">Search Within Previous Search Results</option>
   <option value="All">Search in All Items (e.g. for merge results into prev search results)</option>
</select>

<br>

<select [(ngModel)]="prevSearchBehavior">
   <option disabled selected value="">Select Prev Search Behavior</option>
   <option value="keepAll">Keep All Prev Searches</option>
   <option value="clearAll">Clear All Prev Searches</option>
   <option value="clearLast">Clear Last Prev Search</option>
   <option value="clearLastIfSame">Clear Last Prev Search if Same Search Type</option>
   <option value="clearIndexed">Clear Indexed Prev Search</option>
</select>
<div class="hint">// Remaining Searches' Results will be Merged into New Search</div>

@if (prevSearchBehavior === 'clearIndexed') {
   Index of Prev Search to Clear:
   <input
      type="number"
      placeholder="Index of Prev Search"
      [(ngModel)]="indexToClear"
   >
   <div class="hint">// -1 for last index</div>
}

<div class="searchQuery">
   @if (currSearchType === 'stringSearch') {
      Search:
      <input
         type="text"
         placeholder="Type word(s)"
         [(ngModel)]="wordsStringSearch"
      >

      <br>

      <select [(ngModel)]="wordSearchType">
         <option disabled selected value="">Select Word Search Type</option>
         <option value="StartsWith">Starts With</option>
         <option value="EndsWith">Ends With</option>
         <option value="Contains">Contains</option>
         <option value="ExactMatch">ExactMatch</option>
      </select>

      <br>

      Fields to Include:
      <input class="big" type="text" placeholder="Fields to Include" [(ngModel)]="fieldsToIncludeStringSearch">

      <br>

      <button (click)="resetFieldsToIncludeStringSearch()">Reset Fields</button>

      <div class="hint">
         // There are also other options e.g. case sensitive, ignore spaces, words in order.
      </div>
   }
</div>

<button (click)="search()">Search</button>

<ng-container *ngIf="tablor.getSearchOptions().length > 0">
   <ng-container *ngFor="let search of tablor.getSearchOptions()">

      <!-- String Query -->
      <div *ngIf="search.by === 'StringQuery'" class="searchQuery">
         <span class="hint">Words:</span>
         {{ search.words }}
         <span class="hint">Word Match Criteria:</span>
         {{ search.singleWordMatchCriteria }}
      </div>
      <!-- String Query -->

   </ng-container>
</ng-container>
