<div class="search flex items-center gap-x-3">

   <!-- String Search -->
   <div>
      <input
         (input)="searchString($event)"
         hlmInput placeholder="Search text..."
         type="email"
         class="w-80"
      />
      <div class="text-gray-500 text-sm">
         (Diff String Searches in Diff fields needs to be integrated)
      </div>
   </div>
   <!-- String Search -->

   <!-- Date Ranges Search -->
   <div class="text-gray-500 text-sm">
      (Dates Search needs to be integrated)
   </div>
   <!-- Date Ranges Search -->

   <!-- Number Ranges Search -->
   <div class="text-gray-500 text-sm">
      (Numbers Search needs to be integrated)
   </div>
   <!-- Number Ranges Search -->

   <!-- Missing Values Search -->
   <div class="text-gray-500 text-sm">
      (Missing Values Search needs to be integrated)
   </div>
   <!-- Missing Values Search -->

</div>
